# Node dependencies
node_modules
Backend/node_modules

# Environment variables
.env
Backend/.env


# Build output
dist

# Logs
*.log

# Firebase Admin SDK
service-account-key.json
serviceAccountKey.json
Backend/service-account-key.json
Backend/serviceAccountKey.json
*.json

